@using Mandalorian.DAL;
@using Mandalorian.Models;

@{
    ViewData["Title"] = "Misiones";
}

<h1>Misiones</h1>


    <p>Seleccione una mision</p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <select name="Id">

            @foreach (Misiones mision in Model.ListaDeMisiones)
            {
            @if (Model.Id != 0 && Model.Id == mision.Id)
            {
                <option selected value="@Model.Id">@Model.Titulo</option>
            } else {
                <option value="@mision.Id">@mision.Titulo</option>
            }
            }
            
        </select>
        <button type="submit" action="Index">Ver detalles</button>
    }

@if (Model != null && Model.Id != 0)
{
    <h2>@Model.MisionElegida.Titulo</h2>
    <h4>Recompensa: @Model.MisionElegida.Recompensa</h4>
    <p>@Model.MisionElegida.Descripcion</p>
}
